In [1]:
import os
import pandas as pd
import numpy as np
from snowflake.sqlalchemy import URL
import logging
import warnings
from pathlib import Path
import datetime as datetime
from dateutil.relativedelta import relativedelta

warnings.filterwarnings("ignore")
logging.basicConfig(level=logging.INFO)
pd.set_option("display.max_columns", 1000)
pd.set_option("display.max_rows", 1000)
logging.basicConfig(level="INFO")
logger = logging.getLogger()
root = Path().cwd()

# add all the required files in this path
input_path = root / "inputs"
if not os.path.exists(input_path):
    os.makedirs(input_path, exist_ok=True)

# save all the files in this path
output_path = root / "outputs"
if not os.path.exists(output_path):
    os.makedirs(output_path, exist_ok=True)
logger.info(f"Reading dependencies from {input_path}...")
logger.info(f"saving files to {root}...")

/Users/keyurpethad/anaconda3/lib/python3.11/site-packages/snowflake/connector/options.py:103: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
  warn_incompatible_dep(
INFO:root:Reading dependencies from /Users/keyurpethad/Library/CloudStorage/GoogleDrive-keyur@niro.money/My Drive/analytics-projects/Ad-hoc/Pincode level analysis/inputs...
INFO:root:saving files to /Users/keyurpethad/Library/CloudStorage/GoogleDrive-keyur@niro.money/My Drive/analytics-projects/Ad-hoc/Pincode level analysis...

In [2]:
from sqlalchemy import create_engine


class extractorFromQuery:
    def __init__(self):
        self.credentials = {
            "account": "qfi-niro",
            "user": "keyur",
            "password": "Keyur@17061996",
            "warehouse": "NIRO_ANALYTICS_WAREHOUSE",
        }

    def queryExecutor(self, query: str, *args):
        engine = create_engine(URL(**self.credentials))
        res = pd.read_sql_query(query, engine, params=args)
        return res

In [3]:
df_oct = pd.read_excel("Oct - State & City.xlsx", sheet_name = 'Sheet1')
df_nov = pd.read_excel("Nov - State & City.xlsx", sheet_name = 'Sheet1')
df_dec = pd.read_excel("Dec - State & City.xlsx", sheet_name = 'Sheet1')
df_jan = pd.read_excel("Jan - State & City.xlsx", sheet_name = 'Sheet1')

master_coll_feb = pd.read_excel("PL Loan Book Feb'24.xlsx", header=2).rename(columns = {'Niro Opportunity ID':'opportunity_id', 'Pin Code':'pin_code', "City":"city", "Oct'23 - POS":"oct_pos", "Nov'23 - POS":"nov_pos", "Dec'23 - POS":"dec_pos", "Jan'24 - POS":"jan_pos"})

In [4]:
master_coll_feb.head()

,niro_user_id,opportunity_id,Disbursal Partner Name,Platform Partner Name,Lender Loan Id,Disbursement Month,Month Number,Disbursement Year,Phone Numbers,Disbursement Date,Presentation Lag,Gross PF Charged,PF Refund,Final Proc Fees,GST,Pre-EMI,Disbursed Amount,Loan Amount (all inclusive),Loan Amount Rank,Interest Rate,Tenor In Months,Tenor Rank,PF %,Cost of Funds,Cost of Funds (New),Spread,Monthly Emi,Monthly Income (Net Take Home),Income Rank,Income source,Self Employed,Nature of Business,# Years in Employment,Residence Ownership Type,Owned,Purpose of Loan,CIBIL Score,CIBIL Band,CIBIL Score Rank,Risk Band,PL & EL-PL,Disbursement TAT,city,State,pin_code,Tier,Gender,Male,Female,Age,customer_router,CPV Initiated,Lead Name,Loan Status,Foreclosure Date,Foreclosure Details,NPA Details,NPA setteled Status,Write-off Month,Feb Presentation,Mar Presentation,Apr Presentation,May Presentation,Jun Presentation,Jul Presentation,Aug Presentation,Sep Presentation,Oct Presentation,Nov Presentation,Dec Presentation,Jan'23 Presentation,Feb'23 Presentation,Mar'23 Presentation,Apr'23 Presentation,May'23 Presentation,Jun'23 Presentation,July'23 Presentation,Aug'23 Presentation,Sep'23 Presentation,Oct'23 Presentation,Nov'23 Presentation,Dec'23 Presentation,Jan'24 Presentation,Feb'24 Presentation,Feb DPD,Mar DPD,Apr DPD,May DPD,Jun DPD,Jul DPD,Aug DPD,Sep DPD,Oct DPD,Nov DPD,Dec DPD,Jan'23 DPD,Feb'23 DPD,Mar'23 DPD,Apr'23 DPD,May'23 DPD,Jun'23 DPD,July'23 DPD,Aug'23 DPD,Sep'23 DPD,Oct'23 DPD,Nov'23 DPD,Dec'23 DPD,Jan'24 DPD,Mar DPD Rank,PayU'July'23 DPD,PayU'Aug'23 DPD,PayU'Sep'23 DPD,PayU'Oct'23 DPD,PayU'Nov'23 DPD,PayU'Dec'23 DPD,PayU'Jan'24 DPD,Sep DPD Rank,Jan - POS,Feb - POS,Mar - POS,Apr - POS,May - POS,Jun - POS,Jul - POS,Aug - POS,Sep - POS,Oct - POS,Nov - POS,Dec - POS,Jan'23 - POS,Feb'23 - POS,Mar'23 - POS,Apr'23 - POS,May'23 - POS,Jun'23 - POS,July'23 - POS,Aug'23 - POS,Sep'23 - POS,oct_pos,nov_pos,dec_pos,jan_pos,Int * Loan Amount (all Incl),CoF * Loan Amount (all Incl),Tenor * Loan Amount (all Incl),PF * Loan Amount (all Incl),Spread * Loan Amount (all Incl),FOIR,Ok/Problem Areas,Loan Count per customer,Repeat/Unique,Previous loan date of repeat,Previous loan amount of repeat,DPD 90+ Months,DPD 60+ Months,90+ Amount,Feb - Repaid,`,Apr - Repaid,May - Repaid,Jun - Repaid,Jul - Repaid,Aug - Repaid,Sep - Repaid,Oct - Repaid,Nov - Repaid,Dec - Repaid,Jan'23 - Repaid,Feb'23 - Repaid,Mar'23 - Repaid,Apr'23 - Repaid,May'23 - Repaid,Jun'23 - Repaid,July'23 - Repaid,Aug'23 - Repaid,Sep'23 - Repaid,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180
0,0a2c0c4e-e0bf-4e50-909e-25ad6272119e,0f100756-11ae-4472-bd29-4fdbd6c37fdb,liquiloans,quikr,499217,2021-12-31,1,2021,9900368067,2021-12-31,Yes,2366,0,2366,426.0,0.0,50005,52797,2,27.0,12,2,0.044813,17.4,17.4,9.6,5069.0,26000,3,Salaried,0,'-',1,Rented,0,Others,764,760+,8,CAT-D,EL-PL,< 24 hrs,Bangalore,KARNATAKA,560085,Tier 1,Female,0,1,39,PL_OLD_PREAPPROVED,Yes,VINUTHA HONNE GOWDA,Closed,NaT,NaT,NaN,No,-,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,Closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-,-,-,-,-,-,-,NaN,52797.0,48915.93250,44947.540981,40889.860653,36740.882518,32498.552375,28160.769803,23722.160542,19190.208334,14553.208334,9811.208334,4962.960521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1425519.0,918667.8,633564,2366.0,506851.2,0.44,OK Area,1,Unique,NaN,NaN,-,-,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31,1.0
1,e85b616e-e54b-4d67-b929-5f4b612404e2,188ec580-5b20-435b-8b02-b1fd0c439c6b,liquiloans,quikr,500342,2022-01-31,2,2022,8765513171,2022-01-04,No,2366,0,2366,426.0,0.0,50005,52797,2,27.0,12,2,0.044813,17.4,17.4,9.6,5069.0,20000,2,Salaried,0,'-',1.5,Owned,1,Marriage,746,740-760,7,CAT-D,EL-PL,< 24 hrs,Lucknow,UTTAR PRADESH,226029,Tier 2,Male,1,0,37,PL_OLD_PREAPPROVED,Yes,AKHILESH KUMAR YADAV,Foreclosed,2022-09-12,2022-09-12,NaN,No,-,Cleared,Cleared,Cleared,Cleared,BOUNCED,BOUNCED,Bounced,Bounced,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,NaN,NaN,NaN,NaN,7.0,3.0,9,1,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-,-,-,-,-,-,-,NaN,52797.0,48915.93250,44947.540981,40889.860653,36740.882518,32498.552375,28160.769803,23722.160542,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1425519.0,918667.8,633564,2366.0,506851.2,0.47,OK Area,1,Unique,NaN,NaN,-,-,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-31,2.0
2,7f5aee97-5a17-421a-a94d-7db9c244265a,ad42040e-f906-451f-9fb7-51e7806f64a7,liquiloans,quikr,505767,2022-01-31,2,2022,8368166817,2022-01-04,No,1824,0,1824,328.0,0.0,50002,52154,2,23.5,12,2,0.034973,16.7,16.7,6.8,4919.0,32000,3,Salaried,0,'-',2,Owned,1,Others,775,760+,8,CAT-C,PL,< 24 hrs,Delhi,DELHI,110043,Tier 1,Male,1,0,36,PL_OLD_PREAPPROVED,Yes,NARENDRA KUMAR CHOUDHARY,Foreclosed,2022-02-16,2022-02-16,NaN,No,-,Cleared,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-,-,-,-,-,-,-,NaN,52154.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1225619.0,870971.8,625848,1824.0,354647.2,0.47,OK Area,1,Unique,00:00:00,0.0,-,-,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-28,3.0
3,74d77339-a17e-4f57-8250-27f457d4be39,a1efbe44-4f49-4615-bd61-fcd02c3aa299,liquiloans,quikr,509929,2022-01-31,2,2022,8437737918,2022-01-05,No,915,0,915,165.0,0.0,60001,61081,2,19.5,12,2,0.014980,15.9,15.9,3.6,5644.0,25000,3,Salaried,0,'-',1.5,Owned,1,Others,778,760+,8,CAT-A,PL,< 24 hrs,Chandigarh,CHANDIGARH,160036,Tier 2,Male,1,0,34,PL_OLD_PREAPPROVED,Yes,VIKRAM SINGH,Foreclosed,2022-06-21,2022-06-21,NaN,No,-,Cleared,Cleared,Cleared,Cleared,Cleared,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-,-,-,-,-,-,-,NaN,61081.0,56429.56625,51702.546702,46898.713085,42016.817173,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1191079.5,971187.9,732972,915.0,219891.6,0.42,OK Area,1,Unique,00:00:00,0.0,-,-,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-31,4.0
4,3515f18c-f39c-4faa-a6de-f0a3675922fe,b99f37fa-fbb7-4fdc-b555-565efd93a6ac,liquiloans,quikr,514338,2022-01-31,2,2022,8898663866,2022-01-07,No,4378,0,4378,788.0,0.0,170001,175167,6,17.0,24,4,0.024993,15.4,15.4,1.6,8661.0,20000,2,Salaried,0,'-',15,Owned,1,Others,780,760+,8,CAT-B,PL,< 24 hrs,Mumbai,MAHARASHTRA,400072,Tier 1,Male,1,0,37,PL_OLD_PREAPPROVED,Yes,RAHUL KUMAR VADIKAR,Foreclosed,2022-02-10,2022-02-10,NaN,No,-,Cleared,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,FORECLOSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-,-,-,-,-,-,-,NaN,175167.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2977839.0,2697571.8,4204008,4378.0,280267.2,0.45,OK Area,1,Unique,00:00:00,0.0,-,-,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-30,5.0

In [5]:
disbursed_cases = """
    select * from (select 
    la.id as opportunity_id,
    ou.category,
    la.user_id,
    la.principal_amount,
    o.phone_number,
    ba.bank_name,
    CASE
        when la.loan_disbursed_date_by_ops is null then date(la.disbursement_date)
        else date(la.loan_disbursed_date_by_ops)
    end as disbursement_date
    from niro_rds.niro_data.core__public__loan_application la
    left join NIRO_RDS.NIRO_DATA.CORE__PUBLIC__OFFERS o on o.id = la.offer_id
    left join NIRO_RDS.NIRO_DATA.core__public__offer_user_details ou on ou.offer_id = o.id
    left join NIRO_RDS.NIRO_DATA.CORE__PUBLIC__BANK_ACCOUNTS b on b.id = la.bank_account_id
    left join NIRO_RDS.NIRO_DATA.CORE__PUBLIC__BANK_BRANCHES ba on b.ifsc_code = ba.ifsc_code    
    where la.loan_application_status in ('CLOSED','LOAN_EXECUTED') and la.is_deleted = False and o.is_deleted = False
    )
    where disbursement_date >= '2023-01-01';
"""
total_disbursed_cases = extractorFromQuery().queryExecutor(disbursed_cases)
total_disbursed_cases.shape

INFO:snowflake.connector.connection:Snowflake Connector for Python Version: 3.4.0, Python Version: 3.11.5, Platform: macOS-10.16-x86_64-i386-64bit
INFO:snowflake.connector.connection:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
INFO:snowflake.connector.cursor:query: [select current_database(), current_schema();]
INFO:snowflake.connector.cursor:query execution done
INFO:snowflake.connector.cursor:Number of results in first chunk: 1
INFO:snowflake.connector.cursor:query: [ROLLBACK]
INFO:snowflake.connector.cursor:query execution done
INFO:snowflake.connector.cursor:Number of results in first chunk: 1
INFO:snowflake.connector.cursor:query: [select * from (select la.id as opportunity_id, ou.category, la.user_id, la.princ...]
INFO:snowflake.connector.cursor:query execution done
INFO:snowflake.connector.cursor:Number of results in first chunk: 0
INFO:snowflake.connector.cursor:query: [ROLLBACK]
INFO:snowflake.connector.cursor:query execution done
INFO:snowflake.connector.cursor:Number of results in first chunk: 1

(39350, 7)

In [6]:
df_jan['Status'].value_counts()

Status
Paid      5357
Unpaid     560
Name: count, dtype: int64

In [7]:
df_oct['oct_bounce'] = 1
df_oct['oct_resolution'] = np.where(df_oct['Status'] == 'PAID', 1,
                            np.where(df_oct['Status'] == 'UNPAID', 0, np.nan))

df_nov['nov_bounce'] = 1
df_nov['nov_resolution'] = np.where(df_nov['Status'] == 'Paid', 1,
                            np.where(df_nov['Status'] == 'Unpaid', 0, np.nan))

df_dec['dec_bounce'] = 1
df_dec['dec_resolution'] = np.where(df_dec['Status'] == 'Paid', 1,
                            np.where(df_dec['Status'] == 'Unpaid', 0, np.nan))

df_jan['jan_bounce'] = 1
df_jan['jan_resolution'] = np.where(df_jan['Status'] == 'Paid', 1,
                            np.where(df_jan['Status'] == 'Unpaid', 0, np.nan))

In [8]:
master_data = total_disbursed_cases.merge(master_coll_feb[["opportunity_id", "pin_code", "city", "oct_pos", "nov_pos", "dec_pos", "jan_pos"]], on = 'opportunity_id', how = 'inner')\
                .merge(df_oct[['opportunity_id', 'oct_bounce', 'oct_resolution']], on='opportunity_id', how='left')\
                .merge(df_nov[['opportunity_id', 'nov_bounce', 'nov_resolution']], on='opportunity_id', how='left')\
                .merge(df_dec[['opportunity_id', 'dec_bounce', 'dec_resolution']], on='opportunity_id', how='left')\
                .merge(df_jan[['opportunity_id', 'jan_bounce', 'jan_resolution']], on='opportunity_id', how='left')

In [9]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37035 entries, 0 to 37034
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   opportunity_id     37035 non-null  object
 1   category           37035 non-null  object
 2   user_id            37035 non-null  object
 3   principal_amount   37035 non-null  float64
 4   phone_number       37035 non-null  object
 5   bank_name          37035 non-null  object
 6   disbursement_date  37035 non-null  object
 7   pin_code           37035 non-null  int64
 8   city               37035 non-null  object
 9   oct_pos            27135 non-null  float64
 10  nov_pos            29910 non-null  float64
 11  dec_pos            33301 non-null  float64
 12  jan_pos            37035 non-null  float64
 13  oct_bounce         4089 non-null   float64
 14  oct_resolution     4089 non-null   float64
 15  nov_bounce         4334 non-null   float64
 16  nov_resolution     4334 non-null   float64
 17  dec_bounce         4579 non-null   float64
 18  dec_resolution     4579 non-null   float64
 19  jan_bounce         5194 non-null   float64
 20  jan_resolution     5194 non-null   float64
dtypes: float64(13), int64(1), object(7)
memory usage: 5.9+ MB

In [10]:
master_data.head()

,opportunity_id,category,user_id,principal_amount,phone_number,bank_name,disbursement_date,pin_code,city,oct_pos,nov_pos,dec_pos,jan_pos,oct_bounce,oct_resolution,nov_bounce,nov_resolution,dec_bounce,dec_resolution,jan_bounce,jan_resolution
0,e6d5c160-5a37-4c0b-a4ed-5c664e533df5,CAT-B,9e88c713-2d20-4d67-90de-8ae240a89a81,186378.0,7004284775,INDUSIND BANK,2023-07-10,846004,Darbhanga,166226.269495,159505.855131,152673.993895,145728.837628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c776fb09-3c89-472c-b21b-fd551f9a4de6,CAT-C,6d30ff4d-a439-47eb-ac37-6ee7618675d5,168272.0,9893604102,STATE BANK OF INDIA,2023-06-30,474001,Gwalior,144046.907874,135661.803033,127116.682441,118408.492464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4a1e1e04-122b-4c81-8a8d-06eb62d89985,CAT-B,ad8e138a-ad54-4976-92fe-332abf25513a,352047.0,9894993203,ICICI BANK LIMITED,2023-12-22,600015,Kanchipuram,NaN,NaN,352047.000000,352047.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93dee710-d154-4f95-924b-6e1b4d3a4726,CAT-C,198da28b-f28f-4251-b54f-a233884e37b4,52412.0,7353362013,ICICI BANK LIMITED,2023-09-28,561210,Kolar,52412.000000,49963.000000,47465.096417,44917.442920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,191ea473-9670-49cf-8b17-5a9c0e806acd,CAT-C,0b056b24-1f48-4376-bc03-8d5edee3baea,52752.0,8688799971,CANARA BANK,2023-05-25,560070,Bangalore,42653.899471,39996.967885,37284.904968,34516.566747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
master_data.isnull().sum()

opportunity_id           0
category                 0
user_id                  0
principal_amount         0
phone_number             0
bank_name                0
disbursement_date        0
pin_code                 0
city                     0
oct_pos               9900
nov_pos               7125
dec_pos               3734
jan_pos                  0
oct_bounce           32946
oct_resolution       32946
nov_bounce           32701
nov_resolution       32701
dec_bounce           32456
dec_resolution       32456
jan_bounce           31841
jan_resolution       31841
dtype: int64

#### Create aggregate variables

##### 1. Pincode level

In [27]:
df_pin = pd.merge(master_data.groupby(['pin_code'])['opportunity_id'].nunique().rename('no_of_customers'),\
master_data.groupby(['pin_code'])['principal_amount'].max().rename('max_principal_amount'), on='pin_code', how='left')\
.merge(master_data.groupby(['pin_code'])['principal_amount'].min().rename('min_principal_amount'), on='pin_code', how='left')\
.merge(master_data.groupby(['pin_code'])['principal_amount'].mean().rename('mean_principal_amount'), on='pin_code', how='left')\
.merge(master_data.groupby(['pin_code'])['principal_amount'].sum().rename('total_principal_amount'), on='pin_code', how='left')\
.merge(master_data.groupby(['pin_code'])['jan_pos'].sum().rename('total_jan_pos'), on='pin_code', how='left')\
.merge(master_data[master_data.oct_pos.notna()].fillna(0).groupby('pin_code')['oct_bounce'].mean().rename('oct_bounce_per'), on='pin_code', how='left')\
.merge(master_data[master_data.nov_pos.notna()].fillna(0).groupby('pin_code')['nov_bounce'].mean().rename('nov_bounce_per'), on='pin_code', how='left')\
.merge(master_data[master_data.dec_pos.notna()].fillna(0).groupby('pin_code')['dec_bounce'].mean().rename('dec_bounce_per'), on='pin_code', how='left')\
.merge(master_data[master_data.jan_pos.notna()].fillna(0).groupby('pin_code')['jan_bounce'].mean().rename('jan_bounce_per'), on='pin_code', how='left')\
.merge((master_data[master_data['oct_bounce'] == 1].groupby('pin_code')['oct_pos'].sum() / master_data[master_data.oct_pos.notna()].groupby('pin_code')['oct_pos'].sum()).rename('oct_bounce_pos_per'), on='pin_code', how='left')\
.merge((master_data[master_data['nov_bounce'] == 1].groupby('pin_code')['nov_pos'].sum() / master_data[master_data.nov_pos.notna()].groupby('pin_code')['nov_pos'].sum()).rename('nov_bounce_pos_per'), on='pin_code', how='left')\
.merge((master_data[master_data['dec_bounce'] == 1].groupby('pin_code')['dec_pos'].sum() / master_data[master_data.dec_pos.notna()].groupby('pin_code')['dec_pos'].sum()).rename('dec_bounce_pos_per'), on='pin_code', how='left')\
.merge((master_data[master_data['jan_bounce'] == 1].groupby('pin_code')['jan_pos'].sum() / master_data[master_data.jan_pos.notna()].groupby('pin_code')['jan_pos'].sum()).rename('jan_bounce_pos_per'), on='pin_code', how='left')\
.merge(master_data[master_data['oct_bounce'] == 1].groupby('pin_code')['oct_resolution'].mean().rename('oct_resolution_per'), on='pin_code', how='left')\
.merge(master_data[master_data['nov_bounce'] == 1].groupby('pin_code')['nov_resolution'].mean().rename('nov_resolution_per'), on='pin_code', how='left')\
.merge(master_data[master_data['dec_bounce'] == 1].groupby('pin_code')['dec_resolution'].mean().rename('dec_resolution_per'), on='pin_code', how='left')\
.merge(master_data[master_data['jan_bounce'] == 1].groupby('pin_code')['jan_resolution'].mean().rename('jan_resolution_per'), on='pin_code', how='left')\
.merge(master_coll_feb[["pin_code", "city"]].drop_duplicates(), on='pin_code', how='left')

In [30]:
df_pin.to_excel('pincode_data.xlsx', sheet_name='pincode_data', index=False)

##### 2. City level

In [31]:
df_city = pd.merge(master_data.groupby(['city'])['opportunity_id'].nunique().rename('no_of_customers'),\
master_data.groupby(['city'])['principal_amount'].max().rename('max_principal_amount'), on='city', how='left')\
.merge(master_data.groupby(['city'])['principal_amount'].min().rename('min_principal_amount'), on='city', how='left')\
.merge(master_data.groupby(['city'])['principal_amount'].mean().rename('mean_principal_amount'), on='city', how='left')\
.merge(master_data.groupby(['city'])['principal_amount'].sum().rename('total_principal_amount'), on='city', how='left')\
.merge(master_data.groupby(['city'])['jan_pos'].sum().rename('total_jan_pos'), on='city', how='left')\
.merge(master_data[master_data.oct_pos.notna()].fillna(0).groupby('city')['oct_bounce'].mean().rename('oct_bounce_per'), on='city', how='left')\
.merge(master_data[master_data.nov_pos.notna()].fillna(0).groupby('city')['nov_bounce'].mean().rename('nov_bounce_per'), on='city', how='left')\
.merge(master_data[master_data.dec_pos.notna()].fillna(0).groupby('city')['dec_bounce'].mean().rename('dec_bounce_per'), on='city', how='left')\
.merge(master_data[master_data.jan_pos.notna()].fillna(0).groupby('city')['jan_bounce'].mean().rename('jan_bounce_per'), on='city', how='left')\
.merge((master_data[master_data['oct_bounce'] == 1].groupby('city')['oct_pos'].sum() / master_data[master_data.oct_pos.notna()].groupby('city')['oct_pos'].sum()).rename('oct_bounce_pos_per'), on='city', how='left')\
.merge((master_data[master_data['nov_bounce'] == 1].groupby('city')['nov_pos'].sum() / master_data[master_data.nov_pos.notna()].groupby('city')['nov_pos'].sum()).rename('nov_bounce_pos_per'), on='city', how='left')\
.merge((master_data[master_data['dec_bounce'] == 1].groupby('city')['dec_pos'].sum() / master_data[master_data.dec_pos.notna()].groupby('city')['dec_pos'].sum()).rename('dec_bounce_pos_per'), on='city', how='left')\
.merge((master_data[master_data['jan_bounce'] == 1].groupby('city')['jan_pos'].sum() / master_data[master_data.jan_pos.notna()].groupby('city')['jan_pos'].sum()).rename('jan_bounce_pos_per'), on='city', how='left')\
.merge(master_data[master_data['oct_bounce'] == 1].groupby('city')['oct_resolution'].mean().rename('oct_resolution_per'), on='city', how='left')\
.merge(master_data[master_data['nov_bounce'] == 1].groupby('city')['nov_resolution'].mean().rename('nov_resolution_per'), on='city', how='left')\
.merge(master_data[master_data['dec_bounce'] == 1].groupby('city')['dec_resolution'].mean().rename('dec_resolution_per'), on='city', how='left')\
.merge(master_data[master_data['jan_bounce'] == 1].groupby('city')['jan_resolution'].mean().rename('jan_resolution_per'), on='city', how='left')\
.reset_index()

In [32]:
df_city.to_excel('collection_data.xlsx', sheet_name='city_data', index=False)

##### 3. Bank level

In [33]:
df_pin = pd.merge(master_data.groupby(['bank_name'])['opportunity_id'].nunique().rename('no_of_customers'),\
master_data.groupby(['bank_name'])['principal_amount'].max().rename('max_principal_amount'), on='bank_name', how='left')\
.merge(master_data.groupby(['bank_name'])['principal_amount'].min().rename('min_principal_amount'), on='bank_name', how='left')\
.merge(master_data.groupby(['bank_name'])['principal_amount'].mean().rename('mean_principal_amount'), on='bank_name', how='left')\
.merge(master_data.groupby(['bank_name'])['principal_amount'].sum().rename('total_principal_amount'), on='bank_name', how='left')\
.merge(master_data.groupby(['bank_name'])['jan_pos'].sum().rename('total_jan_pos'), on='bank_name', how='left')\
.merge(master_data[master_data.oct_pos.notna()].fillna(0).groupby('bank_name')['oct_bounce'].mean().rename('oct_bounce_per'), on='bank_name', how='left')\
.merge(master_data[master_data.nov_pos.notna()].fillna(0).groupby('bank_name')['nov_bounce'].mean().rename('nov_bounce_per'), on='bank_name', how='left')\
.merge(master_data[master_data.dec_pos.notna()].fillna(0).groupby('bank_name')['dec_bounce'].mean().rename('dec_bounce_per'), on='bank_name', how='left')\
.merge(master_data[master_data.jan_pos.notna()].fillna(0).groupby('bank_name')['jan_bounce'].mean().rename('jan_bounce_per'), on='bank_name', how='left')\
.merge((master_data[master_data['oct_bounce'] == 1].groupby('bank_name')['oct_pos'].sum() / master_data[master_data.oct_pos.notna()].groupby('bank_name')['oct_pos'].sum()).rename('oct_bounce_pos_per'), on='bank_name', how='left')\
.merge((master_data[master_data['nov_bounce'] == 1].groupby('bank_name')['nov_pos'].sum() / master_data[master_data.nov_pos.notna()].groupby('bank_name')['nov_pos'].sum()).rename('nov_bounce_pos_per'), on='bank_name', how='left')\
.merge((master_data[master_data['dec_bounce'] == 1].groupby('bank_name')['dec_pos'].sum() / master_data[master_data.dec_pos.notna()].groupby('bank_name')['dec_pos'].sum()).rename('dec_bounce_pos_per'), on='bank_name', how='left')\
.merge((master_data[master_data['jan_bounce'] == 1].groupby('bank_name')['jan_pos'].sum() / master_data[master_data.jan_pos.notna()].groupby('bank_name')['jan_pos'].sum()).rename('jan_bounce_pos_per'), on='bank_name', how='left')\
.merge(master_data[master_data['oct_bounce'] == 1].groupby('bank_name')['oct_resolution'].mean().rename('oct_resolution_per'), on='bank_name', how='left')\
.merge(master_data[master_data['nov_bounce'] == 1].groupby('bank_name')['nov_resolution'].mean().rename('nov_resolution_per'), on='bank_name', how='left')\
.merge(master_data[master_data['dec_bounce'] == 1].groupby('bank_name')['dec_resolution'].mean().rename('dec_resolution_per'), on='bank_name', how='left')\
.merge(master_data[master_data['jan_bounce'] == 1].groupby('bank_name')['jan_resolution'].mean().rename('jan_resolution_per'), on='bank_name', how='left')\
.merge(master_coll_feb[["bank_name", "city"]].drop_duplicates(), on='bank_name', how='left')

KeyError: "['bank_name'] not in index"

In [ ]:
df_pin.to_excel('pincode_data.xlsx', sheet_name='pincode_data', index=False)